@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,500;0,700;1,400&display=swap');

$very-dark-grey: hsl(0, 0%, 17%);
$dark-grey: hsl(0, 0%, 59%);

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Rubik", sans-serif;
    font-size: 18px;
    background-color: lightgray;
}

.heading {
    background-image: url("images/pattern-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    position: relative;

    h1 {
        text-align: center;
        margin-top: 0;
        padding-top: 50px;
        color: #ffff;
    }

    form {
        display: flex;
        flex-direction: row;
        padding: 2px;
        width: 50%;
        margin: 0 auto;

        input {
            flex-grow: 2;
            border: 1px solid #000;
            border-top-left-radius: 20px;
            border-bottom-left-radius: 20px;
            padding: 10px;
            font-size: 18px;

            &:focus {
                outline: none;
            }

            &::placeholder {
                font-size: 18px;
            }
        }

        button {
            background-color: #000;
            border: 1px solid #000;
            border-bottom-right-radius: 20px;
            border-top-right-radius: 20px;
            padding: 20px;

            img {
                width: 13px;
                height: 18px;
            }
        }
    }
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: #ffff;
    text-align: center;
    width: 75%;
    height: 180px;
    margin: 0 auto;
    z-index: 1000;
    position: absolute;
    top: 25%;
    left: 12%;
    border-radius: 20px;
    align-items: center;

    .ip-item {
        border-right: 1px solid lightgray;

        h4 {
            color: $dark-grey;
            font-size: 18px;
            font-weight: 500;
        }

        p {
            color: $very-dark-grey;
            font-size: 30px;
            font-weight: 700;
        }
    }
}

#mapid {
    height: 50em;
}